[class*='close-'] {
	color: #777;
	font: 14px/100% arial, sans-serif;
	position: absolute;
	right: 5px;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	top: 5px;
}

.close-thik:after {
	content: 'x';
}

#cookie-discalimer {
	display: none;
	background: #fff;
	border: 3px solid #ccc;
	border-radius: 5px;
	float: left;
	margin: 20px;
	position: absolute;
	border: 1px solid #96dad1;
	border-radius: 5px;
	float: left;
	height: 200px;
	margin: 20px;
	position: fixed;
	width: 200px;
	right: 0;
	text-align: center;
	bottom: 0;
}

#cookie-disclaimer-text {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}

.cookie-button {
	min-width: 44.4px;
	line-height: 0;
	height: 40px;
}