button[disabled], html input[disabled] {
    cursor: not-allowed;
}

.row>div {
	width: 33.33333333333333%;
	display: inline-block;
	margin-right: -5px;
	position: relative;
}

.row>div:after {
	content: '';
	border-right: 1px solid rgba(255, 255, 255, 0.7);
	position: absolute;
	top: 3px;
	height: 75%;
	right: -3px;
}

.row>div:last-child:after {
	display: none;
}

h1 {
	font-weight: 300;
	font-size: 26px;
	line-height: 3;
	text-align: center;
}

h1 .fa-camera-retro {
	color: #83d3c9; 
	height: 100px;
	line-height: 100px;
	border: 2px solid #83d3c9;
	cursor: pointer;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-moz-transition: background-color 0.3s ease;
	-o-transition: background-color 0.3s ease;
	-webkit-transition: background-color 0.3s ease;
	transition: background-color 0.3s ease;
	width: 100px;
}

h1 .fa-camera-retro:hover {
	background-color: rgba(131, 211, 201, 0.2);
}

.btn {
	font-family: 'Lato', sans-serif;
	border: none;
	width: 100%;
	display: block;
	padding: 15px;
	background-color: #fff;
	font-size: 18px;
	color: #2ecc71;
	cursor: pointer;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.btn:hover, .btn:focus {
	color: #333;
	outline: none;
}

#clear {
	background: none;
	color: #fff;
	font-weight: 100;
}

.float-label {
	position: relative;
	margin-bottom: 10px;
}

.float-label label, .float-label input, .float-label select,
	.float-label textarea {
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	font-weight: 300;
}

.float-label input, .float-label select, .float-label textarea {
	-webkit-appearance: none;
	outline: none;
	border: none;
	width: 100%;
	display: block;
	cursor: pointer;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.7);
	background: transparent;
	color: #fff;
	padding: 15px 20px 10px 10px;
}

.float-label label {
	position: absolute;
	left: 10px;
	top: 18px;
	color: #fff;
	pointer-events: none;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.float-label label.active {
	font-size: 14px;
	font-weight: 400;
	top: -1px;
	color: rgba(0, 0, 0, 0.7);
}

.float-label textarea {
	height: 100px;
	resize: none;
}

.float-label .fa {
	position: absolute;
	right: 5px;
	bottom: 20px;
	font-size: 12px;
}

.float-label .fa.eye {
	right: 0;
	bottom: 2px;
	z-index: 10;
	padding: 20px;
	padding-right: 0;
	font-size: 16px;
	cursor: pointer;
	color: rgba(0, 0, 0, 0.5);
}

.float-label .fa.eye.show {
	color: rgba(255, 255, 255, 0.9);
}

.user-profile-photo {
	height: 0px;
	visibility: hidden;
}

@media ( max-width : 320px) {
	.row>div {
		display: block;
		width: auto;
	}
	.row>div:after {
		display: none;
	}
}

/* Other profile */
/* wrapper page section */
#wrapper {
  display: none;
  padding: 60px 0 0;
}
#wrapper #backtotop {
  position: absolute;
  right: -50px;
  width: 50px;
  text-align: center;
  color: #ddd;
  background: #4B6F78;
  bottom: 0;
  z-index: 999;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  padding: 13px;
  box-shadow: 0 10px 0 #36546d;
}
#wrapper #backtotop:hover {
  background: #BA4E4E;
  color: white;
}
@media (max-width: 800px) {
  #wrapper #backtotop {
    right: 0;
    bottom: -50px;
  }
}
@media (max-width: 650px) {
  #wrapper {
    padding: 40px 0 0;
  }
}
/* end wrapper page section */
/* ======================================= 
Header Section 
========================================== */
/* wrapper portrait section */
.portrait {
  min-height: 400px;
  background: white;
  text-align: center;
  padding-bottom: 25px;
  margin-bottom: 10px;
}
.portrait .img-arrow {
  display: none;
  max-width: 30px;
}
.portrait #open-content {
  min-width: 130px;
}
.portrait .box-note {
  position: relative;
  max-width: 350px;
  margin: 30px auto;
  background: #83d3c9;
  padding: 10px 15px;
  color: white;
  border-radius: 10px;
}
.portrait .box-note:after {
  content: "";
  border-top: 10px solid #83d3c9;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  margin-left: -10px;
  left: 50%;
  bottom: -10px;
}
.portrait .portrait-img-area {
  width: 160px;
  margin: 0 auto;
  position: relative;
}
.portrait .portrait-img-area .avatar {
  width: 140px;
  height: 140px;
}
.portrait .portrait-img-area .profile-links a {
  position: absolute;
  width: 30px;
  height: 30px;
  padding: 3px;
  border-radius: 50%;
  background: #e1e1e1;
  font-size: 12px;
}

.portrait .portrait-img-area .profile-links a.facebook {
  left: -10px;
  bottom: 0;
  background: #83d3c9;
  color: white;
}
.portrait .portrait-img-area .profile-links a.facebook i, .portrait .portrait-img-area .profile-links a.twitter i{
	padding-top: 5px;
}
.portrait .portrait-img-area .profile-links a.twitter {
  right: -10px;
  bottom: 0;
  background: #83d3c9;
  color: white;
}
.portrait .name {
  font-size: 30px;
  line-height: 50px;
  margin-bottom: 20px;
  font-weight: 700;
}
.portrait .name small {
	display: block;
	font-size: 16px;
	letter-spacing: 3px;
	width: 50%;
	margin: 0 auto;
}
/* end portrait section */