#range {
	margin-top: 10px;
	height: 4px;
	border: 0;
	border-radius: 100px;
	background: rgba(0, 0, 0, 0.2);
	outline: none;
}

#range .ui-slider-handle {
	position: absolute;
	margin: -6px 0 0 -17px;
	border-radius: 100px;
	background: #83d3c9;
	color: #fff;
	border: 0;
	height: 20px;
	line-height: 20px;
	text-align: center;
	width: 34px;
	outline: none;
	cursor: pointer;
	font-size: 12px;
	font-weight: 800;
	text-decoration: none;
	transition: transform 0.1s ease;
}

#range .ui-slider-handle:hover, #range .ui-slider-handle:focus {
	transform: scale(1.1);
}

#range .ui-slider-range {
	background: #69b6b5;
}

.cntr {
	width: 60%;
	position: relative;
	left: 30%;
	transform: translate(-50%, -50%);
}

input[type='radio'], input[type='checkbox'] {
	display: none;
	cursor: pointer;
}

input[type='radio']:focus, input[type='radio']:active, input[type='checkbox']:focus,
	input[type='checkbox']:active {
	outline: none;
}

input[type='radio']+label, input[type='checkbox']+label {
	cursor: pointer;
	display: inline-block;
	position: relative;
	padding-left: 25px;
	margin-right: 10px;
	color: #0b4c6a;
}

input[type='radio']+label:before, input[type='radio']+label:after, input[type='checkbox']+label:before,
	input[type='checkbox']+label:after {
	content: '';
	font-family: helvetica;
	display: inline-block;
	width: 18px;
	height: 18px;
	left: 0;
	bottom: 0;
	text-align: center;
	position: absolute;
}

input[type='radio']+label:before, input[type='checkbox']+label:before {
	background-color: #fff;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

input[type='radio']+label:after, input[type='checkbox']+label:after {
	color: #fff;
}

input[type='radio']:checked+label:before, input[type='checkbox']:checked+label:before
	{
	-moz-box-shadow: inset 0 0 0 10px #83d3c9;
	-webkit-box-shadow: inset 0 0 0 10px #83d3c9;
	box-shadow: inset 0 0 0 10px #83d3c9;
}

/*Radio Specific styles*/
input[type='radio']+label:before {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

input[type='radio']+label:hover:after, input[type='radio']:checked+label:after
	{
	content: '\2022';
	position: absolute;
	top: 0px;
	font-size: 19px;
	line-height: 15px;
}

input[type='radio']+label:hover:after {
	color: #c7c7c7;
}

input[type='radio']:checked+label:after, input[type='radio']:checked+label:hover:after
	{
	color: #fff;
}

/*Checkbox Specific styles*/
input[type='checkbox']+label:before {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

input[type='checkbox']+label:hover:after, input[type='checkbox']:checked+label:after
	{
	content: "\2713";
	line-height: 18px;
	font-size: 14px;
}

input[type='checkbox']+label:hover:after {
	color: #c7c7c7;
}

input[type='checkbox']:checked+label:after, input[type='checkbox']:checked+label:hover:after
	{
	color: #fff;
}

/*Toggle Specific styles*/
input[type='checkbox'].toggle {
	display: inline-block;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 55px;
	height: 18px;
	background-color: #c7c7c7;
	position: relative;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px; 
	@inlcude box-shadow(none);
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

input[type='checkbox'].toggle:hover:after {
	background-color: #fff;
}

input[type='checkbox'].toggle:after {
	content: '';
	display: inline-block;
	position: absolute;
	width: 14px;
	height: 14px;
	background-color: #fff;
	top: 2px;
	left: 2px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

input[type='checkbox']:checked.toggle {
	-moz-box-shadow: inset 0 0 0 15px #83d3c9;
	-webkit-box-shadow: inset 0 0 0 15px #83d3c9;
	box-shadow: inset 0 0 0 15px #83d3c9;
}

input[type='checkbox']:checked.toggle:after {
	left: 38px;
	background-color: #fff;
}