@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700,500);

.card-wrapper {
  width: 100%;
  padding: 10px 0px;
}
.personal-information {
  background-color: #3C8DC5;
  color: #fff;
  padding: 1px 0px;
  text-align: center;
}

#column-left {
  width: 47.4%;
  float: left;
  margin-bottom: 2px;
}
#column-right {
  width: 47%;
  float: right;
}

@media only screen and (min-width: 300px) and (max-width: 400px){
  .personal-information {
    width: 300px;
  }
  .card-wrapper {
    background-color: #83d3c9;
    width: 300px;
    padding: 20px 0px;
  }
  
  #input-field {
    width: 290px;
  }
  input[type="text"]{
  height: 40px;
  }
  input[type="email"]{
  height: 40px;
  }
  input[type="submit"]{
  height: 50px;
  }
  #column-left {
    width: 290px;
    display: block;
    float: none;
  }
  #column-right {
    width: 290px;
    display: block;
    float: none;
  }
  #input-button {
    width: 300px;
  }
}