
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}

ul.facebook{
	list-style:none;
	padding:0;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	background: #3B5998;
	padding: 12px;
}
i.fb{
	width:30px;
	height:30px;
	background:url(../images/fb.png);
	float:left;
	margin-right: 2em;
}
ul.facebook li{
	color:#fff;
	font-size:1em;
	float: left;
	margin-top: 5px;
}
ul.facebook:hover{
	background: #5D7BBA;
}

ul.twitter{
	list-style:none;
	padding:0;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	background:#55ACEE;
	padding: 12px;
}
i.tw{
	width:30px;
	height:30px;
	background:url(../images/tw.png);
	float:left;
	margin-right: 2em;
}
ul.twitter li{
	color:#fff;
	font-size:1em;
	float: left;
	margin-top: 5px;
}
ul.twitter:hover{
	background: #71B8ED;
}
span.term a{
	color: #1888A8;
	font-weight: bold;
}
span.term a:hover{
	color:#fff;
}
.submit{
	padding:5px 4px;
	text-align: center;
}
input[type=submit] {
	color: #fff;
	font-family: 'Oxygen', sans-serif;
	background: #83d3c9;
	border: 1px solid #83d3c9;
	cursor: pointer;
	font-size: 18px;
	transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	outline:none;
	width: 100%;
	-webkit-appearance: none;
}
.submit input[type=submit]:hover {
	 background:#96dad1;
	 border:1px solid #96dad1;
}
/**start-copy-right**/
.copy-right {
	text-align: center;
	margin: 2em 0;
}
.copy-right p {
	color: #FFF;
	font-size:1em;
}
.copy-right p a {
	font-family: 'Oxygen', sans-serif;
	font-size:1em;
	font-weight:600;
	color:#55ACEE;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.copy-right a:hover{
	color:#fff;
}
.col_1_of_2:first-child {
	margin-left: 0;
}
.span_1_of_2 {
	width:49.7%;
}
.col_1_of_2 {
	display: block;
	float: left;
	margin:0 0 0 0.6%;
}
.col_1_of_f:first-child {
	margin-left: 0;
	margin-right: 5px;
}
.span_1_of_f {
	width:49.7%;
}
.col_1_of_f {
	display: block;
	float: left;
	margin:0 0 0 0;
}
/*----start-responsive design-----*/
@media (max-width:1024px){
.col_1_of_2 {
	margin: 0 0 0 3.6%;
}
.span_1_of_2 {
	width: 47.7%;
}
.span_1_of_f {
	width: 50%;
}
i.fb, i.tw {
	margin-right: 1em;
}
.main {
	width: 50%;
}
}
@media (max-width:800px){
.span_1_of_f {
	width: 100%;
}
.col_1_of_f {
	float:none;
}
.span_1_of_2 {
	width: 100%;
}
.col_1_of_2 {
	margin:0;
}
.lable-2 input[type="text"], input[type="Password"] {
	padding: 14px;
	width: 89%;
}
}
@media (max-width:480px){
.main {
margin: 7em auto 0;
width:70%;
}
}
@media (max-width:320px){
.main {
	width:80%;
}
.lable input[type="text"] {
	width: 83%;
}
.lable-2 input[type="text"], input[type="Password"] {
	width: 84%;
}
}

.facebook-icon,
.twitter-icon{
	float: left;
    width: 50px;
    font-size: 25;
    color: #FFF;
    padding-top: 10px;
}