<form action="/acceptcookie" id="confirmedCookieNoteId" method="post">
	<div id="cookie-discalimer">
		<a href="#" class="close-thik" onclick='closeNotification();'></a> <input
			type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
		<div id="cookie-disclaimer-text">This website is using tracking
			cookies to optimize your experience.</div>
		<button type="submit" class="button special cookie-button">
			Got it!</button>
	</div>
</form>